@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$Font: 'Overpass', sans-serif;

$Orange: hsl(25, 97%, 53%);
$Orange2: hsl(25, 100%, 41%);

$White: hsl(0, 0%, 100%);
$Ligh-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);

$trasparem-Grey: hsla(216, 12%, 54%, 0.13);

$Dark-Blue-Ligh: hsla(72, 100%, 97%, 0.207);

$Dark-Blue: hsl(213, 19%, 18%);

$Very-Dark-Blue: hsl(216, 12%, 8%);

$Otro-Dark-Blue: hsla(240, 7%, 3%, 0.65);